{% extends 'base.html' %}

{% block title %}Modifier la tache{% endblock %}


{% block content %}
<h2>Modifier la Tâche</h2>
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label>Titre</label>
        <input type="text" name="titre" value="{{ tache.titre }}" class="form-control">
    </div>
    <div class="mb-3">
        <label>Description</label>
        <textarea name="description" class="form-control">{{ tache.description }}</textarea>
    </div>
    <div class="form-check">
        <input type="checkbox" name="complet" class="form-check-input" {% if tache.complet %}checked{% endif %}>
        <label class="form-check-label">Tâche terminée</label>
    </div>
    <button class="btn btn-primary mt-3">Enregistrer</button>
</form>

{% endblock %}



